.card{
    width: 90%;
    min-height: 80px;
    height: auto;
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.336);
    .topCard{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  5px 0;
        .data{
            font-size: 16px;
            color: $gray;
        } 
        .icon-heart:before {
            content: "\e900";
            color: $light;
            transition: .4s;
            &.active{
                transform: scale(1.2);
                color: $red;
            }
        }
    }
    .content{
        h2{
            font-size: 26px;
            padding: 10px 0;
            color: $gray;
        }
        p{
            color: $gray;
            font-size: 18px;
        }
    }
    @media (max-width: 780px) {
        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
}