.card{
    width: 90%;
    min-height: 80px;
    height: auto;
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.336);
    .topCard{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  5px 0;
        .data{
            font-size: 16px;
            color: $gray;
        } 
       .like{
           cursor: pointer;
        .icon-heart:before {
            font-size: 16px;
            content: "\e901";
            color: $light;
            transition: .4s;
            display: block;
              
        }
        .icon-heart_like_love_twitter_icon_127132:before {
            content: "\e900";
            color: #ff7979;
            display: none;
          }

        &.active{
            .icon-heart:before {
                display: none;
                
            }
            .icon-heart_like_love_twitter_icon_127132:before {
                content: "\e900";
                color: #ff7979;
                display: block;
                transition: .8s;

                transform: scale(1.5);
              }

        }
       }
    }
    .content{
        h2{
            font-size: 26px;
            padding: 10px 0;
            color: $gray;
        }
        p{
            color: $gray;
            font-size: 18px;
        }
    }
    @media (max-width: 780px) {
        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
}