* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #F3F5F7;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #F3F5F7;
}

body::-webkit-scrollbar-thumb {
  background-color: #3EA1DB;
  border-radius: 20px;
}

#Header {
  background: -webkit-gradient(linear, left top, right top, from(#574AE8), to(#3EA1DB));
  background: linear-gradient(to right, #574AE8, #3EA1DB);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 270px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 111;
  height: 20vh;
}

#Header .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

#Header .search {
  width: 100%;
  height: 60px;
  color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Header .search span {
  opacity: .9;
}

#Header .search label {
  position: relative;
  width: 100%;
}

#Header .search label input {
  background-color: #3EA1DB;
  width: 100%;
  background-color: none;
  border: none;
  padding: 10px 15px 10px 34px;
  border-radius: 2px;
  color: #fff;
}

#Header .search label input::-webkit-input-placeholder {
  color: #fff;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

#Header .search label input:-ms-input-placeholder {
  color: #fff;
  filter: opacity(0.7);
}

#Header .search label input::-ms-input-placeholder {
  color: #fff;
  filter: opacity(0.7);
}

#Header .search label input::placeholder {
  color: #fff;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

#Header .search label input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: 2px 1px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 2px 1px 1px rgba(255, 255, 255, 0.5);
}

#Header .search label .icon-search:before {
  content: "\e986";
  z-index: 1;
  position: absolute;
  color: #fff;
  left: 8px;
  top: 9px;
}

@media (max-width: 1024px) {
  #Header {
    padding: 20px 100px;
  }
}

@media (max-width: 780px) {
  #Header {
    padding: 10px 20px;
  }
}

.card {
  width: 90%;
  min-height: 80px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.336);
          box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.336);
}

.card .topCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.card .topCard .data {
  font-size: 16px;
  color: #717171;
}

.card .topCard .like {
  cursor: pointer;
}

.card .topCard .like .icon-heart:before {
  font-size: 16px;
  content: "\e901";
  color: #3EA1DB;
  -webkit-transition: .4s;
  transition: .4s;
  display: block;
}

.card .topCard .like .icon-heart_like_love_twitter_icon_127132:before {
  content: "\e900";
  color: #ff7979;
  display: none;
}

.card .topCard .like.active .icon-heart:before {
  display: none;
}

.card .topCard .like.active .icon-heart_like_love_twitter_icon_127132:before {
  content: "\e900";
  color: #ff7979;
  display: block;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.card .content h2 {
  font-size: 26px;
  padding: 10px 0;
  color: #717171;
}

.card .content p {
  color: #717171;
  font-size: 18px;
}

@media (max-width: 780px) {
  .card h2 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
}

#Main {
  padding: 20px 240px;
  width: 100%;
}

#Main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 1024px) {
  #Main {
    padding: 0 100px;
  }
}

@media (max-width: 780px) {
  #Main {
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */